*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}
html {
  line-height: 1.15 /* 1 */;
  -webkit-text-size-adjust: 100% /* 2 */;
  -webkit-tap-highlight-color: transparent /* 3 */;
}
body {
  margin: 0;
}
main {
  display: block;
}
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0;
}
hr {
  clear: both;
  overflow: visible /* 2 */;
  box-sizing: content-box /* 1 */;
  margin: 0;
  height: 0 /* 1 */;
  border-top-width: 1px;
  color: inherit;
}
pre {
  font-size: inherit /* 2 */;
  font-family: monospace, monospace /* 1 */;
}
address {
  font-style: inherit;
}
a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}
abbr[title] {
  text-decoration: underline /* 2 */;
  text-decoration: underline dotted /* 2 */;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-size: inherit /* 2 */;
  font-family: monospace, monospace /* 1 */;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img,
embed,
object,
iframe {
  vertical-align: bottom;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
  outline: 0;
  border-radius: 0;
  background: transparent;
  color: inherit;
  vertical-align: middle;
  text-align: inherit;
  font: inherit;
  -webkit-appearance: none;
  appearance: none;
}
[type='checkbox'] {
  -webkit-appearance: checkbox;
  appearance: checkbox;
}
[type='radio'] {
  -webkit-appearance: radio;
  appearance: radio;
}
button,
input {
/* 1 */
  overflow: visible;
}
button,
select {
/* 1 */
  text-transform: none;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
}
button[disabled],
[type='button'][disabled],
[type='reset'][disabled],
[type='submit'][disabled] {
  cursor: default;
}
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}
select::-ms-expand {
  display: none;
}
option {
  padding: 0;
}
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}
legend {
  display: table /* 1 */;
  padding: 0 /* 3 */;
  max-width: 100% /* 1 */;
  color: inherit /* 2 */;
  white-space: normal /* 1 */;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}
[type='search'] {
  outline-offset: -2px /* 1 */;
}
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  font: inherit /* 2 */;
  -webkit-appearance: button /* 1 */;
}
label[for] {
  cursor: pointer;
}
details {
  display: block;
}
summary {
  display: list-item;
}
[contenteditable] {
  outline: none;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
caption {
  text-align: left;
}
td,
th {
  padding: 0;
  vertical-align: top;
}
th {
  text-align: left;
  font-weight: bold;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
header {
  height: 80px;
  background: #f00;
}
.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  max-width: 980px;
  width: 100%;
}
.section .box {
  margin-top: 20px;
  margin-left: 20px;
  width: 200px;
  height: 200px;
  background: #eee;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(15%) rotate(-45deg);
}
.section .box:nth-child(odd) {
  transform: translateY(-15%) rotate(45deg);
}
.section .box.active {
  opacity: 1;
  transform: translateY(0);
}
footer {
  margin-top: 50px;
  height: 300px;
  background: #ddd;
}
