@import '/reset'
header
  height 80px
  background red
  &.fixed
    position fixed
    top 0
    left 0
.section
  display flex
  flex-wrap wrap
  justify-content flex-start
  margin 0 auto
  margin-top 60px
  max-width 980px
  width 100%
  .box
    margin-top 20px
    margin-left 20px
    width 200px
    height 200px
    background #eeeeee
