html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title ScrollMagic
    link(rel="stylesheet" href="./css/style.css")
  body
    header#act
      h1 test
    .section
      .box
      .box
      .box
      .box
      .box
      .box
      .box
      .box
      .box
      .box
      .box
      .box
      .box
      .box
      .box
      .box
    .section
      .box
      .box
      .box
      .box
      .box
      .box
      .box
      .box
      .box
      .box
      .box
      .box
      .box
      .box
      .box
      .box
    .section
      .box
      .box
      .box
      .box
      .box
      .box
      .box
      .box
      .box
      .box
      .box
      .box
      .box
      .box
      .box
      .box
script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js")
script(src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js")
script(src="./js/scrollMagic.js")